<div id="slider-left" class="loopslider">
  <ul>
    <% @pictures.each do |picture| %>
      <li><a href="#"><%= image_tag(picture.id.to_s+".png", {width: 150 }) %></a></li>
    <% end %>
  </ul>
</div>
<div id="top" class="clearfix">
  <div id="left-content">
    <%= image_tag "/assets/pic.png", id: "title", width: "600" %>
  </div>
  <div id="right-content">
    <%= image_tag "/assets/logo.png", id: "logo",  width: "400" %>
    <%= link_to image_tag("/assets/btn1.png", {:width => 400 }), new_picture_path %>
  </div>
</div>
<div id="slider-right" class="loopslider">
  <ul>
    <% @pictures.each do |picture| %>
        <li><a href="#"><%= image_tag(picture.id.to_s+".png", {width: 150 }) %></a></li>
    <% end %>
  </ul>
</div>

